#experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#experiencia .titulo {
  font-size: 8rem;
  word-break: break-all;
  color: rgb(221, 221, 221);
}
#experiencia .descricao {
  font-size: 1.5rem;
  max-width: 600px;
}
.container-experiencia {
  background-color: #f1f1f1;
  display: flex;
  padding: 1rem;
  gap: 3rem;
  margin-top: 4rem;
}
.container-experiencia div {
  max-width: 400px;
}
.container-experiencia div p {
  color: rgb(87, 87, 87);
}
.container-experiencia div ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.container-experiencia h2 {
  margin-bottom: 0.5rem;
}
.container-experiencia div ul .item {
  background-color: white;
  padding: 5px;
  font-size: 12px;
}
.ano-experiencia {
  position: absolute;
}
.ano-experiencia p {
  position: relative;
  border-right: 5px solid;
  border-image: linear-gradient(to bottom, #ffffff, #77e679) 1;
  width: 48px;
  transform: translate(-4rem, 5px);
}
