footer {
  background-color: black;
  width: 1200px;
  margin: 0 auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
}

footer .texto {
  padding: 2rem;
  font-size: 1rem;
  color: rgb(224, 224, 224);
}

#contato p {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.direitos-reservados {
  padding-left: 2rem;
  color: gray;
}
